body {
  display: flex;
  flex-direction: column;
  background-color: rgb(77, 77, 77);
  height: 98svh;
  width: 98%;
}

div {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 0.5em;
  width: 95%;
  height: 100%;
}

h1,
h3,
h4 {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: "8BIT WONDER", sans-serif;
}

p::first-letter {
  text-transform: capitalize;
}

h2 {
  border: 0px;
}

div {
  margin: 0px;
  border: 0px;
}

button {
  background-color: wheat;
  border: none;
  font-family: "8BIT WONDER", sans-serif;
  font-size: small;
  width: 50%;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 1px 1px 5px 1px;
  margin: 5px;
}

.header {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 90%;
  background-color: rgb(243, 230, 205);
  font-size: small;
  text-align: center;
  border: solid;
  border-style: groove;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 1px;
  padding: 1em;
}

.scoreboard-container {
  margin: 1em;
  width: 98%;
  align-items: center;
  color: wheat;
  display: flex;
  justify-content: space-evenly;
  font-family: "8BIT WONDER", sans-serif;
  font-size: xx-small;
  letter-spacing: 2px;
}

.pokemon-card-image {
  height: 50%;
}

.pokemon-card-title {
  font-family: "8BIT WONDER", sans-serif;
  font-size: 7px;
}

#cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  gap: 0.5em;
  padding: 10px;
}

#game-display-container {
  display: flex;
  justify-self: center;
  width: 100%;
  height: 100%;
}

#game-results {
  position: absolute;
  left: 40%;
  top: 50%;
  z-index: 5;
  height: fit-content;
}

.game-controls-container {
  align-self: center;
  bottom: -0px;
  display: flex;
  justify-content: space-around;
  width: 95%;
  background-color: rgb(243, 230, 205);
  border-radius: 15px;
  margin: 1em 0px 0px 0px;
  box-shadow: 1px 1px 5px 1px;
  padding: 5px;
  border: solid;
  border-style: double;
}

.pokemon-card {
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  width: 72%;
  height: 82%;
  align-items: center;
  background-color: rgb(187, 187, 171);
  box-shadow: 1px 1px 10px 1px;
  padding: 10px;
  border: solid;
  border-style: groove;
  border-radius: 15px;
  animation: cardRotate 2s;
}

img {
  max-width: 100%;
}

@keyframes cardRotate {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.pokemon-card-image:hover {
  transition-duration: 10s;
  transform: rotate(5045deg);
}

@media only screen and (min-width: 768px) {
  body {
    background-color: yellow;
  }

  .pokemon-card-title {
    font-family: "8BIT WONDER", sans-serif;
    font-size: smaller;
  }

  .pokemon-card {
    width: 12%;
    height: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background-color: red;
  }

  #cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .pokemon-card-title {
    font-family: "8BIT WONDER", sans-serif;
    font-size: small;
  }

  .pokemon-card {
    align-self: center;
    justify-self: center;
    width: 70%;
    height: 80%;
  }
}

@media only screen and (min-width: 1500px) {
  body {
    background-color: rgb(102, 255, 0);
  }

  .pokemon-card-title {
    font-family: "8BIT WONDER", sans-serif;
    font-size: medium;
  }

  #cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .pokemon-card {
    width: 12%;
    height: 40%;
  }
}
