
body{
  display: flex;
  justify-content: center;
}

#stuff-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-display-container{
  border: solid;
  border-radius: 15px;
  background-color: teal;
  padding: 20px;
}

.pokemon-card{
  display: flex;

  background-color: yellow;
  padding: 10px;
  border-radius: 15px;
}

#cards-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap:1em;
}